*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Figtree', sans-serif;
    src: url('../Blog_preview_card_02/blog-preview-card-main/assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree', sans-serif;
    src: url('../Blog_preview_card_02/blog-preview-card-main/assets/fonts/static/Figtree-Medium.ttf') format('truetype');
}


main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
    padding: 24px;
    gap: 24px;
    font-family: 'Figtree', sans-serif;
}

img{
    width: 100%;
    border-radius: 10px;
}

/*content section*/
.content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 12px;
    padding: 0;
}

.content .category{
    font-size: 14px;
    font-weight: extra-bold;
    color: #111111;
    line-height: 150%;
    padding: 4px 12px;
    background-color: #F4D04E;
}

.content .publish-date{
    font-size: 14px;
    font-weight: medium;
    line-height: 150%;
    color: #111111;
}

.content h1{
    font-size: 24px;
    color:  #F4D04E;
    font-weight: extra-bold;
    line-height: 150%;
}

.content .description{
    font-size: 16px;
    color: #6b6b6b;
    font-weight: medium;
    line-height: 150%;
}

/*author section*/
.author{ 
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin: 0;
    justify-content: center;
}

.author img{
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.author .author-info{
    font-size: 14px;
    color: #111111;
    font-weight: extra-bold;
    line-height: 150%;}
