*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title:hover{
    color: #F4D04E;
    cursor: pointer;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F4D04E;
    font-family: "figtree", sans-serif;
}

@font-face {
    font-family: "Figtree";
    src: url('./assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: "Figtree";
    src: url('./assets/fonts/static/Figtree-Medium.ttf') format('truetype');
    font-weight: 400;
}


main{
    width: 384px;
    height: 522px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FFFFFF;
    padding: 24px;
    row-gap: 24px;
    border: #111111 solid 1px;
    border-radius: 20px;
    box-shadow: 8px 8px 0px #111111;
    overflow: hidden;
    cursor: pointer;
}

.banner{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

/*content section*/
.content{
    gap:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    background-color: #FFFFFF;
}

h2{
    font-size: 14px;
    /*font-family: "Figtree", sans-serif;*/
    font-weight: 600;
    color: #111111;
    line-height: 150%;
    background-color: #FFFFFF;
}

.tag{
    display: inline-block;
    padding: 4px 12px;
    background-color: #F4D04E;
    border-radius: 4px;
    font-size: 14px;
    /*font-family: "Figtree", sans-serif;*/
    font-weight: 600;
    color: #111111;
    line-height: 150%;
}

.publish-date{
    font-size: 14px;
    /*font-family: "Figtree", sans-serif;*/
    font-weight: 400;
    line-height: 150%;
    color: #111111;
}

h1{
    font-size: 24px;
    /*font-family: "Figtree", sans-serif;*/
    color:  #F4D04E;
    font-weight: 600;
    line-height: 150%;
}

.description{
    font-size: 16px;
    /*font-family: "Figtree", sans-serif;*/
    color: #6b6b6b;
    font-weight: 400;
    line-height: 150%;
}

/*author section*/
.author{ 
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin: 0;
    align-items: center;
}

.author img{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    object-fit: cover;
}

.author .author-info{
    font-size: 14px;
    color: #111111;
    font-weight: 600;
    /*font-family: "Figtree", sans-serif;*/
    line-height: 150%;}
